@import '../style/mixins.less';

.my-switch {
  width: 36px;
  height: 18px;
  position: relative;
  display: inline-flex;
  border-color: @brand;
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .2s linear;
  padding: 2px;

  >.my-switch-core {

    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(0);
    transition: all .2s linear;
  }

  &-checked {
    background-color: @brand;

    >.my-switch-core {
      transform: translateX(100%);
    }
  }

  &.my-switch-disabled {
    cursor: not-allowed;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      background-color: #fff;
      opacity: 0.4;
    }
  }

  &::after {
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(0);
    transition: all .2s linear;
  }

  &.small {
    width: 32px;
    height: 18px;
    padding: 2px;

    >.my-switch-core {
      width: 14px;
      height: 14px;
    }
  }
}
