.my-dialog {

}

.my-dialog {
  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
  }
  &-nav {
    width: 100px;
    height: 100px;
    background-color: #fff;
  }
}
