.hs-tabs-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #e8e8e8;
  transition: 1s;
}
.hs-tabs-nav-item {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.hs-tabs-nav-item:hover,
.hs-tabs-nav-item:focus {
  color: #74c041;
}
.hs-tabs-nav-item.disabled {
  color: #6c757d !important;
  pointer-events: none;
  cursor: default;
  background-color: transparent;
  border-color: transparent;
}
.hs-tabs-nav-item.is-active {
  color: #74c041;
}
.nav-line .hs-tabs-nav-item.is-active {
  border-bottom: 2px solid #74c041;
}
.nav-card .hs-tabs-nav-item {
  border: 1px solid transparent;
  margin-bottom: -1px;
}
.nav-card .hs-tabs-nav-item.is-active {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.hs-tabs-content {
  margin-top: 1rem;
}
