.hs-font {
  margin: 0 0 10px 20px;
  font-weight: 600;
  font-size: 20px;
}
.__dumi-default-previewer-source {
  display: block !important;
}
.container {
  display: flex;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.hs-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 100px;
  margin-right: 50px;
  color: #fff;
  border-radius: 5px;
}
.hs-default.hs-primary {
  background-color: #74c041;
}
.hs-default.hs-primary2 {
  background-color: #a4d683;
}
.hs-default.hs-primary3 {
  background-color: #c0e2a9;
}
.hs-default.hs-success {
  background-color: #3e74f3;
}
.hs-default.hs-warning {
  background-color: #faad14;
}
.hs-default.hs-error {
  background-color: #f5222d;
}
.hs-default.hs-title {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.85);
}
.hs-default.hs-main {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.65);
}
.hs-default.hs-sub {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.45);
}
.hs-default.hs-disabled {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.25);
}
.hs-default.hs-border {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.15);
}
.hs-default.hs-background {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.04);
}
