/* loading动画 */
.hs-icon-loading {
  animation: button-loading-spin 1s linear infinite;
}

@keyframes button-loading-spin {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
