@import '../style/color.less';
@import '../style/mixins.less';

.my-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 15px;
  margin-right: 20px;
  border: 1px solid;
  color: rgba(0, 0, 0, 0.65);
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: .3s;
  transform: scale(1);

  &:hover {
    color: @brand;
    border-color: @brand;
    z-index: 1;
  }

  &:focus {
    outline: none;
    color: @brand;
    border-color: @brand;
    z-index: 1;
  }

  &.my-button-ghost {
    color: #fff;
    border: 1px solid;
    border-color: #fff;
    background-color: transparent;
  }

  &.my-button-disabled {
    color: rgba(0, 0, 0, 0.25);
    border-color: #fff;
    background-color: #e6e6e6;
    cursor: not-allowed !important;

    &:hover {
      color: rgba(0, 0, 0, 0.25);
      border-color: #d9d9d9;
    }

    &::after {
      transition: none !important;
    }
  }

  &.my-button-ghost.my-button-disabled {
    background-color: transparent;
  }

  &-default {
    border-color: rgba(0, 0, 0, 0.15);

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      box-shadow: 0 0 0 6px @brand;
      opacity: 0;
      transition: .3s;
    }

    &:active:not([type="text"])::after {
      transition: 0s;
      box-shadow: none;
      opacity: 0.4;
    }

    &.my-button-ghost {
      border-color: #fff;
      background-color: transparent;

      &:hover {
        color: @hover;
        border-color: @hover;
      }
    }

    &.my-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      border-color: #d9d9d9;
      background-color: #e6e6e6;
      cursor: not-allowed;
    }

    &.my-button-ghost.my-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      border-color: #fff;
      background-color: transparent;
    }
  }

  &&-primary {
    color: #fff;
    background-color: @brand;
    border-color: @brand;

    &:hover {
      color: #fff;
      background-color: @hover;
      border-color: @hover;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      box-shadow: 0 0 0 6px @brand;
      opacity: 0;
      transition: .3s;
    }

    &:active:not([type="text"])::after {
      transition: 0s;
      box-shadow: none;
      opacity: 0.4;
    }

    &.my-button-ghost {
      color: @brand;
      border-color: @brand;
      background-color: transparent;

      &:hover {
        color: @hover;
        border-color: @hover;
      }
    }

    &.my-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      border-color: #d9d9d9;
      background-color: #e6e6e6;
      cursor: not-allowed;
    }

    &.my-button-ghost.my-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      border-color: #fff;
      background-color: transparent;
    }
  }

  &&-danger {
    color: @error;
    border-color: @error;
    background-color: #f5f5f5;

    &:hover {
      color: #fff;
      background-color: @error;
      border-color: @error;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      box-shadow: 0 0 0 6px @error;
      opacity: 0;
      transition: .3s;
    }

    &:active:not([type="text"])::after {
      transition: 0s;
      box-shadow: none;
      opacity: 0.4;
    }

    &.my-button-ghost {
      color: @error;
      border-color: @error;
      background-color: transparent;

      &:hover {
        color: lighten(@error, 10%);
        border-color: lighten(@error, 10%);
      }
    }

    &.my-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      border-color: #d9d9d9;
      background-color: #e6e6e6;
      cursor: not-allowed;
    }

    &.my-button-ghost.my-button-disabled {
      border-color: #fff;
      color: rgba(0, 0, 0, 0.25);
      background-color: transparent;
    }
  }

  &&-large {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 15px;
  }

  &&-small {
    font-size: 12px;
    line-height: 20px;
    padding: 2px 10px;
  }

  &&-dashed {
    border-style: dashed;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      box-shadow: 0 0 0 6px @brand;
      opacity: 0;
      transition: .3s;
    }

    &:active:not([type="text"])::after {
      transition: 0s;
      box-shadow: none;
      opacity: 0.4;
    }

    &.my-button-ghost {
      border-color: #fff;

      &:hover {
        color: @hover;
        border-color: @hover;
      }
    }

    &.my-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      border-color: #d9d9d9;
      background-color: #e6e6e6;
      cursor: not-allowed;
    }

    &.my-button-ghost.my-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      border-color: #fff;
      background-color: transparent;
    }
  }
}
