@import '../style/color.less';
@import '../style/mixins.less';

.hs-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 4px 15px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 22px;
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transform: scale(1);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    z-index: 1;
    color: @brand;
    border-color: @brand;
  }

  &:focus {
    /* color: @brand;
    border-color: @brand; */
    z-index: 1;
    outline: none;
  }

  &.hs-button-ghost {
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    border-color: #fff;
  }

  &.hs-button-disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #e6e6e6;
    border-color: #fff;
    cursor: not-allowed !important;

    &:hover {
      color: rgba(0, 0, 0, 0.25);
      border-color: #d9d9d9;
    }

    &::after {
      transition: none !important;
    }
  }

  &.hs-button-ghost.hs-button-disabled {
    background-color: transparent;
  }

  &-default {
    border-color: rgba(0, 0, 0, 0.15);

    &::after {
      position: absolute;
      border-radius: inherit;
      box-shadow: 0 0 0 6px @brand;
      opacity: 0;
      transition: 0.3s;
      content: '';
      inset: 0;
    }

    &:active:not([type='text'])::after {
      box-shadow: none;
      opacity: 0.4;
      transition: 0s;
    }

    &.hs-button-ghost {
      background-color: transparent;
      border-color: #fff;

      &:hover {
        color: @hover;
        border-color: @hover;
      }
    }

    &.hs-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: #e6e6e6;
      border-color: #d9d9d9;
      cursor: not-allowed;
    }

    &.hs-button-ghost.hs-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: transparent;
      border-color: #fff;
    }
  }

  &-primary {
    color: #fff;
    background-color: @brand;
    border-color: @brand;

    &:hover {
      color: #fff;
      background-color: @hover;
      border-color: @hover;
    }

    &::after {
      position: absolute;
      border-radius: inherit;
      box-shadow: 0 0 0 6px @brand;
      opacity: 0;
      transition: 0.3s;
      content: '';
      inset: 0;
    }

    &:active:not([type='text'])::after {
      box-shadow: none;
      opacity: 0.4;
      transition: 0s;
    }

    &.hs-button-ghost {
      color: @brand;
      background-color: transparent;
      border-color: @brand;

      &:hover {
        color: @hover;
        border-color: @hover;
      }
    }

    &.hs-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: #e6e6e6;
      border-color: #d9d9d9;
      cursor: not-allowed;
    }

    &.hs-button-ghost.hs-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: transparent;
      border-color: #fff;
    }
  }

  &-danger {
    color: @error;
    background-color: #fff;
    border-color: @error;

    &:hover {
      color: #fff;
      background-color: @error;
      border-color: @error;
    }

    &::after {
      position: absolute;
      border-radius: inherit;
      box-shadow: 0 0 0 6px @error;
      opacity: 0;
      transition: 0.3s;
      content: '';
      inset: 0;
    }

    &:active:not([type='text'])::after {
      box-shadow: none;
      opacity: 0.4;
      transition: 0s;
    }

    &.hs-button-ghost {
      color: @error;
      background-color: transparent;
      border-color: @error;

      &:hover {
        color: lighten(@error, 10%);
        border-color: lighten(@error, 10%);
      }
    }

    &.hs-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: #e6e6e6;
      border-color: #d9d9d9;
      cursor: not-allowed;
    }

    &.hs-button-ghost.hs-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: transparent;
      border-color: #fff;
    }
  }

  &-large {
    padding: 6px 15px;
    font-size: 16px;
    line-height: 24px;
  }

  &-small {
    padding: 2px 10px;
    font-size: 12px;
    line-height: 20px;
  }

  &-dashed {
    border-style: dashed;

    &::after {
      position: absolute;
      border-radius: inherit;
      box-shadow: 0 0 0 6px @brand;
      opacity: 0;
      transition: 0.3s;
      content: '';
      inset: 0;
    }

    &:active:not([type='text'])::after {
      box-shadow: none;
      opacity: 0.4;
      transition: 0s;
    }

    &.hs-button-ghost {
      border-color: #fff;

      &:hover {
        color: @hover;
        border-color: @hover;
      }
    }

    &.hs-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: #e6e6e6;
      border-color: #d9d9d9;
      cursor: not-allowed;
    }

    &.hs-button-ghost.hs-button-disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: transparent;
      border-color: #fff;
    }
  }
}

@keyframes button-loading-spin {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
